<footer id="footer">
  <div class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
    </ul>
    <ul>
      <li><a href="/work">Work</a></li>
      <li><a href="/podcast">Podcast</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="strip-wrapper">
    <div class="strip">
      <ul>
        <li>&copy Tuesday Gutierrez</li>
        <li>
          <a href="/privacy">Privacy</a>
        </li>
        <li><a href="https://joanmira.com" target="_blank">Web Design by Joan Mira Studio</a></li>
      </ul>
      <div class="share-links"></div>
    </div>
  </div>
</footer>
<div id="privacy-popup">
  <div class="cookie-text">
    <span>This site uses cookies to offer you the best possible experience. For details on how we use cookies, see our <a class="privacy-popup__link" href="/privacy">Privacy Policy</a>.</span>
  </div>
  <div class="cookie-button">
    <button type="button" id="btn-close-privacy" aria-label="Click to accept the use of cookies">OK</button>
  </div>
</div>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7DMLEEGH3X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7DMLEEGH3X');
</script>